* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

/*设置placeholder样式*/
input::-webkit-input-placeholder {
    font-size: 13px;
    color: #9d9d9d;
}

/*隐藏顶部类*/
.gizle {
    top: -110px;
}

.sabit {
    top: 0;
    z-index: 9999;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clear {
    zoom: 1;
}

.header {
    width: 100%;
    height: 113px;
    padding: 20px 0;
    background-color: #ffffff;
    filter: alpha(opacity:60);
    position: fixed;
    z-index: 9999;
    box-shadow: 0 1px 10px #abafac;
    transition: top .5s;
}

.logo {
    width: 155px;
    height: 73px;
    background: #abafac;
    float: left;
    padding-top: 7px;
}

.header_inner {
    margin: 0 auto;
    width: 1120px;
    height: 73px;
}

.header_inner_right {
    width: 387px;
    height: 26px;
    background-color: #ffffff;
    float: right;
}

.header_inner_right_search {
    width: 254px;
    background-color: #e9e9e9;
    float: left;
}

.header_inner_right_search_input {
    float: left;
    background-color: #e9e9e9;
    border-radius: 5px;
    border: none;
    outline: 0;
    width: 228px;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
}

.header_inner_right_search_logo {
    height: 26px;
    width: 26px;
    float: left;
    background-color: #e9e9e9;
}

.header_inner_right_search_logo img {
    width: 26px;
    height: 26px;
    padding: 5px;
}

.header_inner_right_seperate {
    background: #ccc;
    width: 1px;
    float: left;
    height: 22px;
    margin: 2px 18px 0;
}

.header_inner_right_button {
    height: 26px;
    width: 95px;
    float: right;
}

.header_inner_right_button .header_inner_right_btn {
    display: inline-block;
    background: #333333;
    padding-left: 11px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    width: 45px;
    line-height: 26px;
    height: 26px;
    text-decoration: none;
}

.header_inner_nav {
    width: 910px;
    height: 27px;
    margin-top: 20px;
    float: right;
}

.header_inner_nav li {
    display: inline-block;
    width: 128px;
    height: 27px;
    float: left;
    text-align: center;
    line-height: 27px;
}

.header_inner_nav li a {
    width: 116px;
    height: 27px;
    display: block;
    list-style: none;
    font-size: 1.1em;
    text-decoration: none;
    float: left;
    color: #333333;
}

.header_inner_nav li::before {
    content: "/";
    width: 12px;
    height: 27px;
    float: left;
}

.header_inner_nav li:last-of-type {
    width: 140px;
}

.header_inner_nav li:last-child::after {
    content: "/";
    width: 12px;
    height: 27px;
    float: right;
}

.wrap {
    padding-top: 113px;
    width: 100%;
    background-color: #333;
    float: left;
}

.wrap_top {
    float: left;
    background: #393b3c;
    padding-bottom: 30px;
}

.first_banner {
    max-width: 1920px;
    min-width: 1120px;
    margin: 0 auto;
    float: left;
}

.first_banner li {
    float: left;
    width: 25%;
    list-style: none;
    display: inline-block;

}

.first_banner li:first-of-type {
    width: 50%;
    overflow: hidden;
}

.first_banner li a {
    width: 100%;
    height: 100%;
    float: left;
    position: relative;
}

.first_banner li img {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.banner_cover {
    width: 100%;
    height: 100%;
    float: left;
    z-index: 2;
    opacity: 0.1;
    position: absolute;
    background: #333
}

.banner_slier {
    width: 100%;
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.carousel {
    margin: 0 30px;
}

.carousel[data-shift="1"] .carousel-inner > .item {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.container .carousel .carousel-inner > .item.row {
    margin: 0;
}

.container .carousel .carousel-control {
    background: none;
    color: transparent;
    overflow: hidden;
    text-shadow: none;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 30px;

}

.container .carousel .carousel-control:before {
    color: #444;
    font-family: 'Glyphicons Halflings';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 30px;
}

.container .carousel .carousel-control:after {
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    content: '';
    height: 60%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
}

.container .carousel .carousel-control:hover:after {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.7);
}

.container .carousel .carousel-control.left {
    left: -30px;
}

.container .carousel .carousel-control.left:before {
    content: url(../images/arrow_left.ico);
    border: 1px solid white;
    padding-top: 5px;
}

.container .carousel .carousel-control.left:after {
    right: -100%;
}

.container .carousel .carousel-control.right {
    right: -30px;
}

.container .carousel .carousel-control.right:before {
    content: url(../images/arrow_right.ico);
    border: 1px solid white;
    padding-top: 5px;
}

.container .carousel .carousel-control.right:after {
    left: -100%;
}

.wrap_middle {
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f7f7f7;;
}

.wrap_middle .wrap_middle_main {
    width: 1120px;
    margin: 0 auto;
}

.wrap_middle_main_top {
    float: left;
}

.wrap_middle_main_title {
    float: left;
    width: 100%;
}

.wrap_middle_main_title .wrap_middle_main_title_a {
    color: #333;
    border-radius: 2px;
    width: 120px;
    text-decoration: none;
    float: left;
}

.wrap_middle_main_title .wrap_middle_main_title_a h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.wrap_middle_main_title .wrap_middle_main_title_btn {
    line-height: 26px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 20px;
    padding: 0 5px;
    background: #333;
    font-size: 14px;
    color: #999;
    border-radius: 2px;
    width: 70px;
    text-decoration: none;
}

.wrap_middle_main_nav_title {
    margin-top: 20px;
    margin-bottom: 0;
    float: left;
}

.wrap_middle_main_nav_title li {
    display: inline-block;
    font-size: 19px;
    line-height: 20px;
    margin-right: 40px;
}

.wrap_middle_main_nav_title li a {
    color: #999;
    text-decoration: none;
}

.wrap_middle_main_container {
    float: left;
    margin: 30px 0;
    height: 570px;
    width: 1120px;
}

.wrap_middle_main_container_left {
    float: left;
}

.wrap_middle_main_container_left a {
    float: left;
    position: relative;
}

.wrap_middle_main_container_left img {
    width: 374px;
    height: 570px;
    float: left;
}

.wrap_middle_main_container_right {
    float: right;
    width: 726px;
    height: 570px;
}

.wrap_middle_main_container_right li {
    display: inline-block;
    float: left;
}

.wrap_middle_main_container_right li a {
    float: left;
    position: relative;
}

.wrap_middle_main_container_right li img {
    width: 353px;
    height: 275px;
    float: left;
}

.wrap_middle_main_container .wrap_middle_main_container_right_li1 {
    margin-bottom: 20px;
    margin-right: 20px;
}

.wrap_middle_main_container .wrap_middle_main_container_right_li2 {
    margin-bottom: 20px;
}

.wrap_middle_main_container .wrap_middle_main_container_right_li3 {
    margin-right: 20px;
}

.wrap_middle_main_container .wrap_middle_main_container_right_li4 {

}

.wrap_middle_main_bottom {
    width: 1120px;
    height: 243px;
    float: left;
}

.wrap_middle_main_bottom_line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 23px;
    float: left;
}

.wrap_middle_main_bottom_list {
    width: 1120px;
    height: 219px;
    float: left;
    margin-bottom: 0;
}

.wrap_middle_main_bottom_list li {
    display: inline-block;
    width: 265px;
    height: 219px;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    background-color: #ffffff;
    box-shadow: 0 1px 10px #abafac;
}

.wrap_middle_main_bottom_list .wrap_middle_main_bottom_list_a {
    float: left;
    position: relative;
}

.wrap_middle_main_bottom_list .wrap_middle_main_bottom_list_item4 {
    margin-right: 0;
}

.wrap_middle_main_bottom_list li a:first-of-type {
    float: left;
}

.wrap_middle_main_bottom_list li a:first-of-type img {
    float: left;
    height: 145px;
    width: 265px;
}

.wrap_middle_main_bottom_list li a:last-of-type {
    float: left;
}

.wrap_middle_main_bottom_list li a:last-of-type h3 {
    height: 74px;
    width: 265px;
    float: left;
    margin: 0;
    font-size: 15px;
    text-align: center;
    line-height: 74px;
    color: #333;
}

.wrap_three {
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #393b3c;;
}

.wrap_three_main {
    width: 1120px;
    height: 614px;
    margin: 0 auto;
}

.wrap_three_main_top {
    float: left;
}

.wrap_three_main_title {
    float: left;
    width: 100%;
}

.wrap_three_main_title .wrap_three_main_title_a {
    color: #fff;
    border-radius: 2px;
    width: 120px;
    text-decoration: none;
    float: left;
}

.wrap_three_main_title .wrap_three_main_title_a h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.wrap_three_main_title .wrap_three_main_title_btn {
    line-height: 26px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 20px;
    padding: 0 5px;
    background: #333;
    font-size: 14px;
    color: #999;
    border-radius: 2px;
    width: 70px;
    text-decoration: none;
}

.wrap_three_main_nav_title {
    float: left;
    margin-top: 28px;
    width: 1120px;
}

.wrap_three_main_nav_title_top {
    float: left;
    width: 1120px;
}

.wrap_three_main_nav_title_top .wrap_three_main_nav_title_top_left {
    float: left;
    background: white;
}

.wrap_three_main_nav_title_top .wrap_three_main_nav_title_top_left a {
    float: left;
    position: relative;
}

.wrap_three_main_nav_title_top .wrap_three_main_nav_title_top_left img {
    float: left;
    width: 834px;
    height: 260px;
}

.wrap_three_main_nav_title_top .wrap_three_main_nav_title_top_right {
    float: right;
    background: white;
}

.wrap_three_main_nav_title_top .wrap_three_main_nav_title_top_right a {
    float: left;
    position: relative;
}

.wrap_three_main_nav_title_top .wrap_three_main_nav_title_top_right img {
    float: left;
    width: 265px;
    height: 260px;
}

.wrap_three_main_nav_title_bottom {
    width: 1120px;
    height: 243px;
    float: left;
    margin-top: 20px;
}

.wrap_three_main_nav_title_bottom_list {
    width: 1120px;
    height: 219px;
    float: left;
    margin-bottom: 0;
}

.wrap_three_main_nav_title_bottom_list li {
    display: inline-block;
    width: 265px;
    height: 239px;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    background-color: #222;
}

.wrap_three_main_nav_title_bottom_list li a:first-of-type {
    float: left;
    position: relative;
}

.wrap_three_main_nav_title_bottom_list .wrap_three_main_nav_title_bottom_list_item4 {
    margin-right: 0;
}

.wrap_three_main_nav_title_bottom_list li a:first-of-type {
    float: left;
}

.wrap_three_main_nav_title_bottom_list li a:first-of-type img {
    float: left;
    height: 145px;
    width: 265px;
}

.wrap_three_main_nav_title_bottom_list li a:last-of-type {
    float: left;
}

.wrap_three_main_nav_title_bottom_list li a:last-of-type h3 {
    height: 94px;
    width: 265px;
    float: left;
    margin: 0;
    padding: 0 10px;
    font-size: 16px;
    line-height: 47px;
    color: #fff;
}

/*------------------------------------*/

.wrap_four {
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #333;;
}

.wrap_four_main {
    width: 1120px;
    height: 614px;
    margin: 0 auto;
}

.wrap_four_main_top {
    float: left;
}

.wrap_four_main_title {
    float: left;
    width: 100%;
}

.wrap_four_main_title .wrap_four_main_title_a {
    color: #fff;
    border-radius: 2px;
    width: 120px;
    text-decoration: none;
    float: left;
}

.wrap_four_main_title .wrap_four_main_title_a h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.wrap_four_main_title .wrap_four_main_title_btn {
    line-height: 26px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 20px;
    padding: 0 5px;
    background: #333;
    font-size: 14px;
    color: #999;
    border-radius: 2px;
    width: 70px;
    text-decoration: none;
}

.wrap_four_main_nav_title {
    float: left;
    margin-top: 28px;
    width: 1120px;
}

.wrap_four_main_nav_title_top {
    float: left;
    width: 1120px;
    height: 448px;
}

.wrap_four_main_nav_title_top li {
    display: inline-block;
}

.wrap_four_main_nav_title_top li a {
    float: left;
    position: relative;
}

.wrap_four_main_nav_title_top .each_0 {
    float: left;
}

.wrap_four_main_nav_title_top .each_0 a {
    float: left;
}

.wrap_four_main_nav_title_top .each_0 img {
    float: left;
    height: 448px;
    width: 560px;
}

.wrap_four_main_nav_title_top .each_1 {
    float: left;

}

.wrap_four_main_nav_title_top .each_1 a {
    float: left;
}

.wrap_four_main_nav_title_top .each_1 img {
    float: left;
    width: 560px;
    height: 224px;
}

.wrap_four_main_nav_title_top .each_2 {
    float: left;
}

.wrap_four_main_nav_title_top .each_2 a {
    float: left;
}

.wrap_four_main_nav_title_top .each_2 img {
    float: left;
    width: 280px;
    height: 224px;
}

.wrap_four_main_nav_title_top .each_3 {
    float: left;
}

.wrap_four_main_nav_title_top .each_3 a {
    float: left;
}

.wrap_four_main_nav_title_top .each_3 img {
    float: left;
    width: 280px;
    height: 224px;
}

.wrap_four_main_nav_title_bottom {
    width: 1120px;
    height: 243px;
    float: left;
    margin-top: 20px;
}

.wrap_four_main_nav_title_bottom_list {
    width: 1120px;
    height: 219px;
    float: left;
    margin-bottom: 0;
}

.wrap_four_main_nav_title_bottom_list li {
    display: inline-block;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    background-color: #222;
}

.wrap_four_main_nav_title_bottom_list .wrap_four_main_nav_title_bottom_list_item4 {
    margin-right: 0;
}

.wrap_four_main_nav_title_bottom_list li a {
    float: left;
    position: relative;
}

.wrap_four_main_nav_title_bottom_list li a img {
    float: left;
    height: 205px;
    width: 265px;
}

/*-------------------------*/

.wrap_five {
    width: 100%;
    float: left;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #393b3c;
}

.wrap_five_main {
    width: 1120px;
    height: 614px;
    margin: 0 auto;
}

.wrap_five_main_top {
    float: left;
}

.wrap_five_main_title {
    float: left;
    width: 100%;
}

.wrap_five_main_title .wrap_five_main_title_a {
    color: #fff;
    border-radius: 2px;
    width: 180px;
    text-decoration: none;
    float: left;
}

.wrap_five_main_title .wrap_five_main_title_a h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
}

.wrap_five_main_title .wrap_five_main_title_btn {
    line-height: 26px;
    display: inline-block;
    margin-top: 6px;
    margin-left: 20px;
    padding: 0 5px;
    background: #333;
    font-size: 14px;
    color: #999;
    border-radius: 2px;
    width: 70px;
    text-decoration: none;
}

.wrap_five_main_nav_title {
    float: left;
    margin-top: 28px;
    width: 1120px;
}

.wrap_five_main_nav_title_top {
    float: left;
    width: 1120px;
    height: 288px;
}

.wrap_five_main_nav_title_top_ul {
    float: left;
    width: 560px;
    height: 288px;
}

.wrap_five_main_nav_title_top li {
    display: inline-block;
}

.wrap_five_main_nav_title_top li a {

    float: left;
    position: relative;
}

.wrap_five_main_nav_title_top .each_0 {
    float: left;
}

.wrap_five_main_nav_title_top .each_0 a {
    float: left;
}

.wrap_five_main_nav_title_top .each_0 img {
    float: left;
    height: 144px;
    width: 280px;
}

.wrap_five_main_nav_title_top li {
    float: left;

}

.wrap_five_main_nav_title_top li a {
    float: left;
}

.wrap_five_main_nav_title_top li img {
    float: left;
    width: 280px;
    height: 144px;
}

.wrap_five_main_nav_title_top .each_0 img {
    border-bottom: 1px solid #393b3c;
}

.wrap_five_main_nav_title_top .each_1 img {
    float: left;
    border-bottom: 1px solid #393b3c;
    border-left: 1px solid #393b3c;
}

.wrap_five_main_nav_title_top .each_3 img {
    border-left: 1px solid #393b3c;
}

.wrap_five_main_nav_title_top .each_4 {
    float: left;

}

.wrap_five_main_nav_title_top .each_4 a {
    float: left;
    position: relative;
}

.wrap_five_main_nav_title_top .each_4 img {
    float: left;
    width: 560px;
    height: 288px;
}

.wrap_five_main_nav_title_bottom {
    width: 1120px;
    height: 243px;
    float: left;
    margin-top: 20px;
}

.wrap_five_main_nav_title_bottom_list {
    width: 1120px;
    height: 219px;
    float: left;
    margin-bottom: 0;
}

.wrap_five_main_nav_title_bottom_list li {
    display: inline-block;
    overflow: hidden;
    margin-right: 20px;
    float: left;
    background-color: #222;
}

.wrap_five_main_nav_title_bottom_list .wrap_five_main_nav_title_bottom_list_item4 {
    margin-right: 0;
}

.wrap_five_main_nav_title_bottom_list li a {
    float: left;
    position: relative;
}

.wrap_five_main_nav_title_bottom_list li a img {
    float: left;
    height: 205px;
    width: 265px;
}

.footer {
    width: 100%;
    height: 103px;
    background-color: #000;
    float: left;
}

.footer_content{
    margin: 0 auto;
    width: 1120px;
    color: #666;
    text-align: center;
    margin-top: 30px;
}

.side_btn {
    display: none;
    bottom: 80px;
    right: 40px;
    position: fixed;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: #333333;
    float: right;
    border: 1px solid #999;
    cursor: pointer;
}

.side_btn img {
    transform: rotate(-90deg);
    left: 8px;
    top: 3px;
    position: relative;
}

.side_down_btn {
    display: none;
    bottom: 40px;
    right: 40px;
    position: fixed;
    overflow: hidden;
    width: 40px;
    height: 40px;
    background: #333333;
    float: right;
    border: 1px solid #999;
    cursor: pointer;
}

.side_down_btn img {
    transform: rotate(90deg);
    left: 8px;
    top: 3px;
    position: relative;
}

/*classicMovie*/

.movie_wrap {
    width: 100%;
    float: left;
}

.nav_movie_wrap {
    padding-top: 113px;
    z-index: 500;
    width: 100%;
    position: fixed;
    float: left;
    background: #222;
    box-shadow: 0 1px 10px #abafac;
    transition: top 1s;
}

.nav_wrap {
    width: 1120px;
    margin: 0 auto;
}

.movie_wrap .nav_wrap a {
    color: #ffffff;
    text-decoration: none;
}

.movie_wrap li {
    line-height: 55px;
    display: inline-block;
    font-size: 18px;
    width: 146px;
    text-align: right;
    float: inherit;
}

.movie_wrap .nav_wrap li:first-of-type {
    font-size: 30px;
    font-weight: bold;
    width: 150px;
    margin-right: 60px;
    text-align: left;;
}

.movie_content {
    width: 1120px;
    margin: 0 auto;
    margin-top: 193px;
}

.movie_wrap .movie_content a {
    display: inline-block;
    background: #333333;
    padding: 0 11px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    margin-right: 10px;
    line-height: 26px;
    height: 26px;
    text-decoration: none;
}

.movie_wrap .main_content {
    width: 1120px;
    margin: 30px auto;
    float: left;
}

.movie_wrap .main_content li {
    width: 360px;
    height: 300px;
    display: inline-block;
    float: left;
    margin-right: 13px;
}

.movie_wrap .main_content li p {
    text-align: center;
    color: #000;
    font-size: 25px;
    font-weight: 400;
}

.movie_wrap .main_content a {
    float: left;
    width: 360px;
    height: 240px;
    padding: 0;
}

.movie_wrap .main_content img {
    float: left;
}

.movie_wrap .loadmore_btn {
    width: 100%;
    height: 50px;
    float: left;
}

.movie_wrap .loadmore_btn .loadmore_btn_div {
    background: #333333;
    padding: 0 11px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    line-height: 30px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

/*登陆页面css*/
.login_wrap {
    width: 100%;
    float: left;
}

.login_header {
    width: 1120px;
    height: 64px;
    margin: 100px auto 60px auto;
}

.login_header .login_header_box {
    width: 1120px;
    float: none;
    border-bottom: solid #e5e6e8 1px;
    padding-top: 30px;
}

.login_header a {
    width: 240px;
    height: 64px;
    float: left;
    z-index: 99;
    background: #999;
    margin-left: 440px;
    position: relative;
    top: -30px;
}

.login_header img {

}

.login_content {
    width: 1120px;
    margin: 0 auto;
    height: 400px;
    border-bottom: solid #e5e6e8 1px;
}

.login_content .login_content_left {
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 100px;
}

.login_content .login_content_left p {
    font-size: 16px;
}

.login_content .login_content_right {
    width: 478px;
    height: 400px;
    float: right;
    /*background: #4cae4c;*/
}

#loginUser, #loginPassword {
    width: 360px;
    height: 44px;
    margin-bottom: 30px;
    padding: 10px;
}

.info_space {
    width: 360px;
}

.info_space a {
    color: #000;
    text-decoration: none;
    float: right;
}

.login_submit {
    margin: 30px 0;
    background: #333333;
    color: #ffffff;
    width: 360px;
    line-height: 40px;
    border-width: 0;
}

/*注册*/
.register_wrap {
    width: 100%;
    float: left;
}

.register_header {
    width: 1120px;
    height: 64px;
    margin: 100px auto 60px auto;
}

.register_header .register_header_box {
    width: 1120px;
    float: none;
    border-bottom: solid #e5e6e8 1px;
    padding-top: 30px;
}

.register_header a {
    width: 240px;
    height: 64px;
    float: left;
    z-index: 99;
    background: #999;
    margin-left: 440px;
    position: relative;
    top: -30px;
}

.register_header img {

}

.register_content {
    width: 1120px;
    margin: 0 auto;
    border-bottom: solid #e5e6e8 1px;
    text-align: center;
}

.register_content .register_content_main {
    width: 100%;
}

#registerUser, #registerPhoneNum, #setPassword, #confirmPassword {
    width: 360px;
    height: 44px;
    margin-bottom: 30px;
    padding: 10px;
}

#identify {
    width: 260px;
    height: 44px;
    margin-bottom: 30px;
    padding: 10px;
}

.identify_code {
    background: #333333;
    color: #ffffff;
    width: 98px;
    line-height: 40px;
    border-width: 0;
}

.info_space {
    width: 360px;
    margin: 0 auto;
}

.info_space a {
    color: #000;
    text-decoration: none;
    float: right;
}

.register_submit {
    margin: 30px 0;
    background: #333333;
    color: #ffffff;
    width: 360px;
    line-height: 40px;
    border-width: 0;
}

/*电影详细页*/

.movie_detail_content {
    width: 1120px;
    margin: 0 auto;
    margin-top: 193px;
}

.movie_detail_content a {
    color: #999;
    font-size: 18px;
    text-decoration: none;
}

#movie_name {
    color: #333333;
    font-weight: bold;
}

.movie_detail_content_tag {
    margin-top: 20px;
}

.movie_detail_content_tag span {
    display: inline-block;
    background: #333333;
    padding: 0 11px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 2px;
    margin-right: 10px;
    line-height: 26px;
    height: 26px;
    cursor: pointer;
}

.movie_info {
    width: 100%;
    float: left;
    margin: 20px 0;
}

.movie_info_img {
    float: left;
}

.movie_info_img img {
    width: 374px;
    height: 569px;
    overflow: hidden;
    float: left;
}

.movie_info_main {
    width: 700px;
    display: block;
    float: left;
    font-size: 20px;
    margin-left: 20px;
}

.movie_info_name, .movie_info_type, .movie_info_role, .movie_info_director, .movie_info_release_time, .movie_info_length, .movie_info_area, .movie_info_score {
    margin-bottom: 30px;
}

.movie_info_name a {
    font-size: 30px;
    font-weight: bold;
    color: #333;
}

.movie_info_type {
    margin-bottom: 20px;
}

.movie_info_type a {
    font-size: 18px;
}

.movie_detail_btn {
    display: inline-block;
    background: #2D3E50;
    padding: 0 11px;
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
}

.movie_info_plot {

}

.movie_info_plot p {
    font-size: 16px;
}

.movie_info_download {
    width: 550px;
}

.movie_info_download li {
    line-height: 35px;
    width: 100%;
    font-size: 15px;
    text-align: left;
}

.movie_info_download p {
    color: #ccc;
    margin: 0;
    padding: 0;
}

.movie_info_download_action {
    float: right;
    padding-left: 30px;
    background: url("../images/download.png") no-repeat left;
}

.movie_info_stills {
    width: 100%;
}

.movie_info_stills img {
    width: 100%;
    overflow: hidden;
    margin-top: 15px;
}

.movie_info_recommend li {
    display: inline-block;
    width: 270px;
    height: 422px;
    margin-right: 9px;
    margin-bottom: 10px;
}
.movie_info_recommend li:nth-child(4n) {
    margin-right: 0;
}

.movie_info_recommend li img {
    width: 270px;
    height: 382px;
    overflow: hidden;
}

.movie_info_recommend li a {
    text-align: center;
    width: 100%;
    line-height: 40px;
    float: left;
    font-size: 17px;
}